
body {
    background-color: ghostwhite;
}

.header-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.city-name{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color:black;
}

.grid-1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.weather-card {
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px outset gold;
    background-color: white;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 5px;
    margin-bottom: 100px;
}

.card-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.card-image p {
    margin-top: 2px;
    color: black;
    font-size: 115%;
    font-weight: bold;
}

.hour-row{
    display:flex;
    flex-direction: row;
}

.hour-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.hour-card p {
    font-size: 110%;
    font-weight: bold;
}

.hour-card img {
    width: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}